<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="demoblaze_test">
        <classes>
            <class name="Test.LogInAndLogout_test" />
<!--            <class name="Test.catagories_test" />-->
            </classes>
    </test>
<!--    </test>-->
<!--    <test verbose="2" preserve-order="true" name="demoblaze_test">-->
<!--        <classes>-->
<!--            <class name="Test.catagories_test">-->
<!--            </class></classes>-->
<!--    </test>-->
<!--    <test verbose="2" preserve-order="true" name="demoblaze_test">-->
<!--        <classes>-->
<!--            <class name="Test.Cart_test"><methods><include name="demoblaze_test"/>-->
<!--            </methods></class></classes>-->
<!--    </test>-->
<!--    <test verbose="2" preserve-order="true" name="demoblaze_test">-->
<!--        <classes><class name="Test.LogInAndLogout_test"><methods><include name="LogIn"/>-->
<!--        </methods></class></classes>-->
<!--    </test>-->
</suite>
